<div class="container">
<h1>Hello, <%=current_user.name_w_initial%>!</h1>

<%= link_to "Update your profile", edit_user_registration_path %>

<% if current_user.hosting_events %>
  <h4>You are hosting the following events:</h4>
      <div class="container">
        <%= render partial: "events/snapshot", collection: current_user.hosting_events, :as => :event %>
      </div>
<% end %>

<% if current_user.attending_events %>
<h4>You are attending the following events:</h4>

    <div class="container">
      <%= render partial: "events/snapshot", collection: current_user.attending_events, :as => :event %>
    </div>
<% end %>
</div>