<div class="col-md-6">
  <h4><%= link_to_if event.name, event.name, event_path(event) %></h4>
  <ul class="snapshot">
      <li>Where: <%= event.location.capitalize %></li>
      <li>When: <%= event.event_time.strftime('%A, %B %Cth @ %l:%M%p') if event.event_time%></li>
  </ul>
</div>
